$sky: rgb(139, 212, 236);
$darkBlue: rgb(22, 22, 129);
$darkestDeep: rgb(0,0,0);
$white: #FFFFFF;
$yellow:#fcee21;
$onGreen: #2DC770;


body{
    background: linear-gradient($sky, $darkestDeep);
    font-family: Arial, Helvetica, sans-serif;
    color: $white;

    :root{
        font-size: clamp(1rem, calc(0.437rem + 0.0225vw), 3.25rem);
    }

    /*#onOFF__button--container{

        margin-top: 50px;

        &__button--button{
            padding: 20px;
            font-size: 1rem;
            cursor: pointer;

            .on{
                background-color: $onGreen;
                color: $white;
            }
    
            .off{
                background-color: $darkBlue;
                color: $white;
            }
        }

        
    }*/

    #heading{
        padding: 400px 100px 500px;
        font-size: x-large;
        letter-spacing: 5px;
        text-shadow: 10px 10px 20px $darkBlue;
        background: url(img/PlasticPollutionImg.jpg);
        background-size: 100% 100%;
        background-clip: text;
        -webkit-background-clip: text;
        color:transparent;
    }

    @keyframes fadeInAndRise {
        0% {
            opacity: 0;
            transform: translateY(300px); /* Adjust start position as needed */
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
      }

    @keyframes walkDistance {
        0% {
          transform: translateX(0) scaleX(-1);
        }
        100% {
          transform: translateX(-200%) scaleX(-1);
        }
      }

      @keyframes driveDistance{
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-200%)
        }
      }
      
      .guy {
          animation: walkDistance 8s forwards infinite linear;
          transform: scaleX(-1);
      }

      .truck {
        animation: driveDistance 4s forwards infinite linear;
      }

    svg{
        position: relative;

        &__town--1{
            position: absolute;

        }

        &__town--2{
            position: absolute;
            left: 10px;
            z-index: 1;
        }

        &__town--3{
            position: absolute;
        }
                
    }
    
    #haloLight{
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid $darkestDeep;
        fill: $yellow;
        background-color: $yellow;
        animation: halo-animation 1.5s linear infinite;

        
    }

    @keyframes halo-animation {
        0% {
          box-shadow: 0 0 0 0 rgba(255, 255, 0, 0.7); /* Change the color to yellow */
        }
        50% {
          box-shadow: 0 0 0 30px rgba(255, 255, 0, 0); /* Change the color to yellow */
        }
        100% {
          box-shadow: 0 0 0 30px rgba(255, 255, 0, 0); /* Change the color to yellow */
        }
      }

    p{
        font-weight: bold;
    }

    #wastePyramid{
        width: 500px;
        height: 500px;
    }

    img{
        width: 200px;
        height: 100px;
    }
}

@media screen and (min-width: 600px){

}

.bubble {
    position: fixed;
    width: 100px;
    height: 100px;

  
    // Modifier for the first bubble
    &--one {
        top: 30vh;
        left: 50%;
        animation: fadeInAndRise 4s ease-in-out forwards infinite;
    }
  
    // Modifier for the second bubble
    &--two {
        top: 10vh;
        left: 60%;
        animation: fadeInAndRise 5s ease-in-out forwards infinite;
    }
  
    // Modifier for the third bubble
    &--three {
        top: 20vh;
        right: 20%;
        animation: fadeInAndRise 3s ease-in-out forwards infinite;
    }
    &--fore{
        top: 20vh;
        left: 40%;
        animation: fadeInAndRise 4s ease-in-out forwards infinite;
    }

}